/* styles.css */
nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Add the following CSS rules */
nav .left {
  flex-grow: 1;
}

nav .center {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  text-align: center;
}

nav .right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

nav a.centered {
  font-size: 1.5em;
  font-weight: bold;
}



.order-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.order-container h3 {
  margin-top: 0;
}

.order-container ul {
  list-style-type: none;
  padding: 0;
}


.notification {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
  font-size:larger;
}
